.carousel {
  overflow-x: hidden;
  position: relative;
}

.carousel__wrapper {
  height: 100vh;
  overflow-x: visible;
  touch-action: pan-y;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  transition-property: transform;
  transition-duration: 0s;
  transform: translateX(var(--carousel-position));
  will-change: transform;
}

.carousel__items-holder {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  height: 100%;
  padding-left: 0;
  align-items: stretch;
  list-style: none;
  width: 100%;
  gap: var(--carousel-gap);
  will-change: transform;
}

.carousel__controls {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  will-change: transform;
}

.carousel__bullet-container {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  display: flex;
  list-style: none;
  gap: 6px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.carousel__bullet {
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}

.carousel__bullet--active {
  background-color: skyblue;
}
