.carousel {
  overflow-x: hidden;
}

.carousel__wrapper {
  height: 100vh;
  overflow-x: visible;
  touch-action: pan-y;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  user-select: none;
  transition-property: transform;
  transition-duration: 0s;
  transform: translateX(var(--carousel-position));
  will-change: transform;
}

.carousel__items-holder {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  height: 100%;
  padding-left: 0;
  align-items: stretch;
  list-style: none;
  width: 100%;
  gap: var(--carousel-gap);
  will-change: transform;
}

.carousel__controls {
  position: absolute;
  z-index: 2;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  will-change: transform;
}
