.item {
  background-color: rgb(83, 83, 83);
  color: #fff;
  min-height: 100%;
  width: 500px;
  flex-shrink: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 0s;
}
